# Craft runtime and backups folders
# ----------------------------------------------------------------------
craft/storage/runtime/*
craft/storage/backups/*

public_html/gulpfile.js
public_html/node_modules
public_html/node_modules/*

# Uploaded files
# ----------------------------------------------------------------------
public/assets/uploads/*

# Misc files
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
.idea
.idea/*
_notes
logs/*
